.containerCompany {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}
.companySubtitle {
    font-size: 20px;
    color: #1954EC;
    line-height: 22px;
}
.companyTitle {
    color: #000;
    margin: 10px 0;
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
    text-transform: capitalize;
}
.companyDescription {
    width: 80%;
    font-size: 20px;
    color: #80898A;
    line-height: 29px;
}


.governorImg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.executiveDescription {
    font-size: 22px;
    color: #253031;
    line-height: 36px;
    text-align: center;

    width: 90%;
    margin: 40px 0;
}
.governorName {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
}
.governorExecutive {
    font-weight: bold;
    margin-bottom: 5px;
}
.executiveTitle {
    color: #80898A;
}

@media screen and (min-width: 450px) {
   .company {
       display: flex;
    //    margin: 20px;
   }
   .containerCompany {

   }

   .shape {
    position: relative;
    width: 100%;
    height: 290px;
    background: rgba(6, 180, 248, 1);
  }
  
.shape:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
    }
}