.wrapperFooter {
    padding: 40px;
    font-size: 18px;
    color: #E5E5E5;
    text-align: center;
    background: #282C38;
}
.customerService {
    margin-bottom: 20px;
    text-transform: capitalize;
}
.serviceEnail {
    margin-bottom: 20px;
}