.containerLogoSubtitle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}
.logoHeading {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;

    margin-left: 15px;
}